<table class="table table-striped width-md">
  <thead class="thead-dark">
  <tr>
    <th>Date</th>
    <th>Amount</th>
    <th>Description</th>
  </tr>
  </thead>

  <tbody>
  <% transactions.each do |transaction| %>
    <tr>
      <td><%= transaction.created_at.strftime("%F %T") %></td>
      <td><%= transaction.amount %></td>
      <td><%= transaction.description %></td>
    </tr>
  <% end %>
  </tbody>
</table>