<h1>New Deposit</h1>

<%= form_with(url: deposit_savings_account_url, method: :post) do |form| %>
  <%= form.label :amount %>
  <%= form.number_field :amount %>
  <br/>
  <%= form.submit %>
<% end %>
