<h2>Savings Account: <%= @savings_account.currency %></h2>

<%= render 'money_transactions/list', money_transactions: @savings_account.money_transactions.order_desc %>

<%= link_to 'Back to Profile', :profile, class: 'btn btn-secondary' %>
