<p id="notice"><%= notice %></p>

<p>
  <strong>Currency:</strong>
  <%= @savings_account.currency %>
</p>

<%= render 'money_transactions/list', money_transactions: @savings_account.money_transactions %>