<h1>Savings Account: <%= @savings_account.currency %></h1>

<div class="list-height">
  <%= render 'money_transactions/list', transactions: @money_transactions %>
</div>

<%= paginate @money_transactions %>

<%= link_to 'Back to Profile', :profile, class: 'btn btn-secondary' %>
