<h1>Operations</h1>

<%= form_with(url: '/user/new_operation_on_account', class: 'row') do |form| %>
  <div class="col-md-auto">
    <%= select :operate_with, :currency, @currencies, {}, { class: 'form-select' } %>
  </div>
  <div class="col text-end">
    <% @operations.map do |operation, friendly_name| %>
      <button name="operation" value="<%= operation %>" type="submit" class="btn btn-primary"><%= friendly_name %></button>
    <% end %>
  </div>
<% end %>
