<h1>Operations</h1>

<%= form_with(url: '/user/new_operation_on_account', class: 'row row-cols-sm-auto g-3') do |form| %>
  <div class="col">
    <%= select :operate_with, :currency, @currencies, {}, { class: 'form-select' } %>
  </div>
  <div class="col">
    <button name="transaction" value="deposit" type="submit" class="btn btn-info">Deposit</button>
  </div>
  <div class="col">
    <button name="transaction" value="withdrawal" type="submit" class="btn btn-info mb-3">Withdraw</button>
  </div></form>
<% end %>

<%= link_to 'Exchange Currency', new_exchange_currency_url, class: 'btn btn-primary' %>
