<h1>Savings Accounts</h1>

<table class="table table-striped">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Currency</th>
    <th scope="col">Balance</th>
    <th scope="col"></th>
  </tr>
  </thead>

  <tbody>
  <% @savings_accounts.each do |savings_account| %>
    <tr>
      <td scope="row" class="align-middle"><%= savings_account.currency %></td>
      <td scope="row" class="align-middle"><%= savings_account.balance.amount %></td>
      <td scope="row" class="align-middle text-end">
        <%= link_to 'History', savings_account, class: 'btn btn-secondary' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>