<h1>Open Savings Account:</h1>

<%= form_with(url: 'create_savings_account', method: :post) do |form| %>
  <%= form.label :currency %>
  <%= form.text_field :currency %>
  <br/>
  <%= form.submit %>
<% end %>
